body {
    background: #042961;
    color: #fff;
    display: block;
    font-family: 'Bookman', sans-serif;
  }
  
  ul {
    list-style-type: none;
  }
  
  
  h1 {
    text-align: center; 
    color:  rgb(251, 255, 0);
    font-size: 50px; 
  }

  h3 {
    text-align: left; 
    color:  rgb(251, 255, 0);
    font-size: 20px; 
  }
  
  div .img {
    display: flex; 
    width: 100%; 
    justify-content: center;
  }
  
  p #details {
    margin-bottom: 20px;
  }

  footer h4 {
    color: rgb(251, 255, 0);
    font-size: 20px;
    }